# database url used by prisma
DATABASE_URL="postgresql://user:fAkePa33wrd@localhost:5432/postgres"

# set this to a random string that is long to secure session data
SECRET_COOKIE_PASSWORD=YpV-dnF.2YPzU26frfzPTh!*MC7VjE3w

# sendgrid api key
SENDGRID_API_KEY=**PUT YOUR SEND GRID API KEY HERE!**